/*
Custom Css
*/
/* Add this to your custom.css or within a <style> tag in the HTML head */
.product-wap {
    height: 450px; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This helps space out the content */
}

.product-wap .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-wap .card-body {
    flex-grow: 1; /* Makes the card body fill the available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Aligns the title and price at the top and bottom respectively */
}

.product-wap img {
    height: 200px; /* Fixed height for images */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}
.card-body p {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits the text to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
